<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stori transactions</title>
    <style type="text/css">
        body {
            background: grey;
        }
    
        .content {
            background: white;
            height: 100vh;
        }
    
        .content_logo {
            height: auto;
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            background-color: #00677f;
            background-image: linear-gradient(to right bottom, #2cd5c4, #bdffa1) !important;
            display: block;
            margin-left: auto;
             margin-right: auto;
        }
    
        .content_logo img {
            width: 50%;
            height: auto;
            text-align: center;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    
        .content_table {
            width: 90%;
            height: 100px;
            display: table;
            margin-left: 20%;
            margin-right: 20%;
        }
        .title {
            color: #ffffff;
            font-weight: 300;
            font-size: 2.5rem;
            font-family: sans-serif;
            font-style: normal;
            display: block;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            padding: 2rem;
        }
        .col {
            width: 50%;
            height: 100%;
            padding: 2px;
            padding: 2rem;
            display:  table-cell;
            margin-left: auto;
            margin-right: auto;
        }
        .col_row {
            width: 100%;
            height: 15px;
            margin-bottom: 2rem;
            display: inline;
        }
        .label {
            color: #6986bd;
            font-family: 'Rubik',sans-serif;
            font-weight: 400;
            font-size: 1.2rem;
            font-style: normal;
            line-height: 150%;
        }
        .value{
            color: #384967;
            font-family: 'Rubik',sans-serif;
            font-weight: 400;
            font-size: 1.4rem;
            font-style: normal;
        }
    </style>
</head>

<body>
    <div class="content">
        <section class="content_logo">
            <img src="https://www.eleconomista.com.mx/__export/1648590238991/sites/eleconomista/img/2022/03/29/1.png_1074207805.png"
                alt="stori">
            <h1 class="title">Hey! here your resume of transactions</h1>
        </section>
        <section class="content_table">
            <div class="col">
                <div class="col_row">
                    <h1 class="label">Total balance is </h1>
                    <h1 class="value"> $ {{ total }}</h1>
                </div>
                {% for month, no_transactions in transactions_month.items() %}
                    <div class="col_row">
                        <h1 class="label">Number of transactions in {{month}}:</h1>
                        <h1 class="value">{{no_transactions}}</h1>
                    </div>
                {% endfor %}
            </div>
            <div class="col">
                <div class="col_row">
                    <h1 class="label">Average debit amount:</h1>
                    <h1 class="value">$ {{average_debit}}</h1>
                </div>
                <div class="col_row">
                    <h1 class="label">Average credit amount:</h1>
                    <h1 class="value">$ {{average_credit}}</h1>
                </div>
            </div>
        </section>
    </div>
</body>

</html>